pkgbase = js-graaljs-bin
	pkgdesc = GraalJS as a drop-in replacement for SpiderMonkey's js (GraalVM Community Edition native standalone)
	pkgver = 25.2.4
	pkgrel = 1
	url = https://www.graalvm.org/javascript/
	arch = x86_64
	arch = aarch64
	license = UPL
	depends = gcc-libs
	depends = zlib
	provides = js
	conflicts = js
	conflicts = graaljs-bin
	conflicts = graaljs-oracle-bin
	conflicts = js-graaljs-oracle-bin
	options = !strip
	source_x86_64 = https://github.com/oracle/graaljs/releases/download/graal-25.2.4/graaljs-community-25.2.4-linux-amd64.tar.gz
	sha256sums_x86_64 = 2cb422d3029f8bfe405d220cdc8fa68a70628dbf5247dbc32671e1de7d4b8f1a
	source_aarch64 = https://github.com/oracle/graaljs/releases/download/graal-25.2.4/graaljs-community-25.2.4-linux-aarch64.tar.gz
	sha256sums_aarch64 = 235ad1fc213fcd4532b34c7ecf0b4602fa5f5362b59fdbaf3f6f72d575804676

pkgname = js-graaljs-bin
